
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";
/* *{
  @apply m-0
} */

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("./Login-Netflix.png");
  --background-image-hero-gradient: linear-gradient(
    to top,
  rgba(0,0,0,0.8)0,
  rgba(0,0,0,0)60%,
  rgba(0,0,0,0.5)100%
  );
}
@layer base{
  body {
    font-family: "DM Sans", sans-serif;
    background: #000000;
    overflow-x: hidden;
  }

  h1 {
    @apply font-bold tracking-[-1%] text-white sm:text-[64px] sm:leading-relaxed;
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }
}

.row_poster::-webkit-scrollbar{
  display: none;
}

@layer components {
  .nav{
    @apply fixed top-0 w-[100%] h-[100px] z-[1] transition-all ease-in duration-[0.5s]
  }
  .nav_black{
    @apply bg-black
  }
  .nav_content{
    @apply flex justify-between
  }
  .nav_logo{
    @apply fixed top-[0]  object-contain w-[170px] h-[100px] pl-4 cursor-pointer
  }
  .nav_avater{
    @apply fixed top-[30px]  right-[35px] w-[40px] h-auto cursor-pointer  object-contain
  }


  .banner{
    @apply relative text-white w-screen bg-center bg-cover h-[470px] object-contain bg-no-repeat  
  }
  .banner_content{
    @apply ml-[30px] pt-[140px] h-[190px] block
  }
  .banner_title{
    @apply font-bold pb-[0.3rem]
  }
  .banner_description{
    @apply leading-relaxed text-xl w-[45rem] pt-[1rem] max-w-[360px] h-[80px]
  }
  .banner_fadeBottom{
    @apply h-[7rem] bg-gradient-to-t from-[#000000] to-transparent absolute bottom-0 w-full 
  }
  .banner_button{
    @apply pr-[2rem] pl-[2rem] mr-[1rem] border-none rounded-sm cursor-pointer font-bold outline-none bg-[#272222] pb-[0.5rem] pt-[0.5rem]
  }
  .banner_button:hover{
    @apply bg-[#e6e6e6] text-[#272222] transition-all duration-[0.5s]
  }
  .row{
    @apply text-white ml-[20px]
  }
  .row_poster{
    @apply flex overflow-y-hidden overflow-x-scroll p-[20px]
  }
  .row_posterMovie{
    @apply max-h-[100px] object-contain mr-[10px] w-full  transition-transform duration-[0.5s] hover:scale-108 ease-in-out
  }
  /* .row_posterMovie:hover{
    @apply transform scale-[1.08] opacity-[1]
  } */
  .row_posterMovieLarge{
    @apply max-h-[250px] hover:scale-109
  }
  .login_screen{
    @apply bg-hero-pattern relative h-screen w-screen bg-cover bg-center object-cover
  }
  /* .loginScreen_content{
    @apply flex justify-between
  } */
  .loginScreen_logo{
    @apply fixed w-[150px] z-30 left-0 object-contain top-0 pl-4  pt-0 
  }
  .loginScreen_button{
    @apply fixed z-30  text-white right-[20px] top-[40px] bg-[#e50014] py-[10px] px-[20px] font-[1rem] cursor-pointer 
  }
  .loginScreen_gradient{
    @apply w-full h-[100vh] absolute  bg-[rgba(0,0,0,0.4)] bg-hero-gradient
  }
  .loginScreen_body{
    @apply  absolute left-0 right-0 top-[30%]  text-center mx-auto
  }
  .loginScreen_body h1{
    @apply font-bold mb-[20px]  
  }
  .loginScreen_body h2{
    @apply text-[2rem] font-bold mb-[30px] 
  }
  .loginScreen_body h3{
    @apply text-[1.3rem] font-semibold text-white
   }
   .loginScreen_input > form > input{
    @apply p-[10px] outline-0 h-[40px] w-[30%] bg-white max-w-[500px] border-none
   }
   .loginScreen_getStarted{
    @apply py-[8.5px] px-[20px] text-[1rem] bg-[#e50014] text-white cursor-pointer
   }
   .loginScreen_input{
    @apply m-[20px]
   }
   .login_show{
    @apply max-w-[600px] relative p-[100px] ml-auto mr-auto bg-[rgba(0,0,0,0.8)] 
   }
   .login_show >form{
    @apply grid grid-cols-1
   }
   .login_show > form > input{
    @apply outline-0 mb-[14px] h-[48px] bg-white border-none rounded-[5px] py-[5px] px-[15px] 
   }
   .login_show > form > button{
    @apply py-[16px] px-[20px] border-none cursor-pointer text-white bg-[#e50014] rounded-[5px] mt-[20px]
   }
   .login_show > form > h1{
    @apply text-left mb-[25px] text-4xl
   }
   .loginShow_grey{
    @apply text-gray-400
   }
   .login_show > form > h4{
    @apply text-white mt-[20px]
   }
    .loginShow_link{
        @apply underline cursor-pointer
    }

   .signup_show{
    @apply max-w-[600px] bottom-[40px] 
   }
   .signup_show >form{
    @apply grid grid-cols-1
   }
   .signup_show > form > input{
    @apply outline-0 mb-[14px] w-[100%] h-[48px] bg-white border-none rounded-[5px] py-[5px] px-[15px] 
   }
   .signup_show > form > button{
    @apply py-[16px] px-[20px] border-none cursor-pointer text-white bg-[#e50014] rounded-[5px] mt-[20px]
   }
   .signup_show > form > h1{
    @apply text-left mb-[25px] text-4xl
   }
   
    .profile_screen{
      @apply h-[100vh] text-white
    }
    .profileScreen_contain{
      @apply flex flex-col w-[50%]  mx-auto pt-[8%] max-w-[800px]
    }
    .profileScreen_info{
      @apply flex
    }
    .profileScreen_body > h1{
      @apply text-[80px] font-bold border-b-[1px] mb-[20px]
    }
    .profileScreen_details{
      @apply text-white ml-[25px] flex-1
    }
    .profileScreen_details > h2{
      @apply  bg-gray-500 p-[15px] text-[15px] pl-[20px]
    }
    .profileScreen_info > img{
      @apply h-[130px]
    }
    .profileScreen_signOut{
      @apply text-white bg-[#e50014] cursor-pointer text-base px-[20px] py-[10px] w-full mt-[5%] border-none
    }
    .profileScreen_plans > h3{
      @apply border-b-[1px] bg-[#282c24]
    }
    .profileScreen_plans{
      @apply mt-[20px]
    }
   
}
